* {
    color: black;
	font-family: sans-serif;
}

.page {
	display: flex;
	flex-direction: column;
	align-items: center;
}

table {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10px;
	border: 2px solid grey;
	text-transform: uppercase;
}

TR {
	display: flex;
}

TD {
	display: flex;
	height: 140px;
	width: 140px;
	margin: 2px;
	border: 2px solid gray;
	justify-content: center;
	align-items: center;
	font-size: 3.5em;
}

#player-name {
	display: flex;
	justify-content: center;
}

#reset-button {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 80px;
	height: 40px;
}
